{% comment %}
  Custom sidebar for MyAIGuitarBuddy – includes nav, author, and tag list
{% endcomment %}

{% comment %}
{%- if site.sidebar.nav %}
  <nav class="sidebar__nav">
    
    <ul class="sidebar__list">

      {%- if site.author.name %}
        {%- include author-profile.html -%}
      {%- endif %}
      
      <hr>
    
      <h3 class="sidebar__title">Tags</h3>
      {%- assign tags_sorted = site.tags | sort %}
      {%- for tag in tags_sorted %}
        {%- assign tag_name = tag[0] %}
        <li class="sidebar__item">
          <a href="{{ site.baseurl }}/tags/#{{ tag_name | slugify }}">
            {{ tag_name }} <span class="taxonomy__count">{{ tag[1].size }}</span>
          </a>
        </li>
      {%- endfor %}

    </ul>
  
  </nav>
{%- endif %}
{% endcomment %}
